/*
 * SPDX-FileCopyrightText: 2026 INDUSTRIA DE DISEÑO TEXTIL S.A. (INDITEX S.A.)
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-behind);
  filter: blur(90px);
}

@media screen and (max-width: 1200px) {
  .background {
    display: none;
  }
}
